h1 {
  font-family: "Mononoki";
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 3.33rem;
  text-shadow: -2px 2px 0px rgba(0,0,0,0.25);
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 60px;
}
