.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipes__header {
  width: 100%;
}

.recipes__list {
  width: 50%;
}

.recipes__actionArea {
  width: 50%;
}


.recipe__name {
  font-family: $font-family--subhead;
  font-size: $font-size--subhead;
  margin-bottom: 10px;
}

.recipe__listItem {
  margin-bottom: 25px;
}

.recipe__ingredients {
  margin-top: 20px;
}


.recipe__new {
  margin: 20px 0 0 0;

  .input-wrapper,
  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 350px;
    border: none;
    font-family: $font-family--body;
  }
}

.recipe__new__buttons {
  margin-top: 50px;
  text-align: right;
}
