.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipes__header {
  width: 100%;
}

.recipes__list {
  width: 50%;
}

.recipes__actionArea {
  width: 50%;
}


.recipe__name {
  font-family: $font-family--subhead;
  font-size: $font-size--subhead;
  margin-bottom: 10px;
}

.recipe__listItem {
  margin-bottom: 25px;
}

.recipe__ingredients {
  margin-top: 20px;
}


.recipe__new {
  margin: 20px 0 0 0;

  .input-wrapper,
  input {
    width: 100%;
  }
}

.recipe__new__buttons {
  margin-top: 50px;
  text-align: right;
}


.recipe__content .input-wrapper {
  display: flex;
}

.recipe__editor,
.recipe__preview {
  width: 50%;
  padding: 20px 10px 15px 10px;
}

.recipe__editor {
  height: 350px;
  border: none;
  font-family: $font-family--body;
}
